@use "./../abstract/variables" as var;
.footer {
	background: url(./../../src/images/background-lq.jpg), rgba(0, 0, 0, 0.2);
	background-blend-mode: darken, multiply;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
	// background-position: left -170px;
	flex-direction: column;
	gap: 0.8rem;
	padding: 2rem;

	.upper {
		margin: 0 auto;
		display: flex;
		gap: 1rem;
		a {
			color: var.$text-color-secondary;
		}
		li {
			font-size: 1.8rem;
			display: inline-block;
			// color: white;
		}
	}
	.lower {
		li {
			// color: white;
			text-align: center;
			font-size: 0.7rem;
			margin-top: 0.5rem;
		}
	}
}
