*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
:root {
	--swiper-theme-color: #49bf9d !important;
}
body {
	box-sizing: border-box;
	padding: 0;
}
a {
	color: maroon;
	text-decoration: none;
	cursor: pointer;
}
input[type="text"],
input[type="email"],
textarea {
	border: none;
}
input[type="text"]:focus,
input[type="text"]:active,
input[type="email"]:focus,
input[type="email"]:active,
textarea:focus,
textarea:active {
	outline: none;
}

li {
	list-style: none;
}
